<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>유기동물 다운로드</h1>

    {{#animalslist}}

    이미지 : {{#popfile}}{{popfile}}{{/popfile}}{{^popfile}}null{{/popfile}}

    섬네일 : {{#filename}}{{filename}}{{/filename}}{{^filename}}null{{/filename}}

    유기번호 : {{#desertionNo}}{{desertionNo}}{{/desertionNo}}{{^desertionNo}}null{{/desertionNo}}

    접수일 : {{#happenDt}}{{happenDt}}{{/happenDt}}{{^happenDt}}null{{/happenDt}}

    발견장소 : {{#happenPlace}}{{happenPlace}}{{/happenPlace}}{{^happenPlace}}null{{/happenPlace}}

    품종 : {{#kindCd}}{{kindCd}}{{/kindCd}}{{^kindCd}}null{{/kindCd}}

    색상 : {{#colorCd}}{{colorCd}}{{/colorCd}}{{^colorCd}}null{{/colorCd}}

    나이 : {{#age}}{{age}}{{/age}}{{^age}}null{{/age}}

    체중 : {{#weight}}{{weight}}{{/weight}}{{^weight}}null{{/weight}}

    공고번호 : {{#noticeNo}}{{noticeNo}}{{/noticeNo}}{{^noticeNo}}null{{/noticeNo}}

    공고 시작일 : {{#noticeSdt}}{{noticeSdt}}{{/noticeSdt}}{{^noticeSdt}}null{{/noticeSdt}}

    공고 종료일 : {{#noticeEdt}}{{noticeEdt}}{{/noticeEdt}}{{^noticeEdt}}null{{/noticeEdt}}

    상태 : {{#processState}}{{processState}}{{/processState}}{{^processState}}null{{/processState}}

    성별 : {{#sexCd}}{{sexCd}}{{/sexCd}}{{^sexCd}}null{{/sexCd}}

    중성화 여부 : {{#neuterYn}}{{neuterYn}}{{/neuterYn}}{{^neuterYn}}null{{/neuterYn}}

    특징 : {{#specialMark}}{{specialMark}}{{/specialMark}}{{^specialMark}}null{{/specialMark}}

    보호소 이름 : {{#careNm}}{{careNm}}{{/careNm}}{{^careNm}}null{{/careNm}}

    보호소 전화번호 : {{#careTel}}{{careTel}}{{/careTel}}{{^careTel}}null{{/careTel}}

    보호장소 : {{#careAddr}}{{careAddr}}{{/careAddr}}{{^careAddr}}null{{/careAddr}}

    관활기관 : {{#orgNm}}{{orgNm}}{{/orgNm}}{{^orgNm}}null{{/orgNm}}

    담당자 : {{#chargeNm}}{{chargeNm}}{{/chargeNm}}{{^chargeNm}}null{{/chargeNm}}

    담당자 연락처 : {{#officetel}}{{officetel}}{{/officetel}}{{^officetel}}null{{/officetel}}

    특이사항 : {{#noticeComment}}{{noticeComment}}{{/noticeComment}}{{^noticeComment}}null{{/noticeComment}}
    <hr>

    {{/animalslist}}
</body>

</html>