{{>/layout/header}}
{{>/blog/layout/blogHeader}}
<!-- 게시판 시작 -->
<div class="m_padding_medium_blogMain">
  <div id="boardPage">
    <div id="mainboard">
      <h4 class="mb-3"><b>입양후기 조회수 </b><b style="color: #198754; font-size: 25px">Top 3</b></h4>
      <div class="d-flex container shadow mb-4">
        <div style="width: 100%;">
          <table class="table m_text_align_center">
            <thead>
              <tr>
                <th style="width: 30px;">No</th>
                <th style="width: 150px;">제목</th>
                <th style="width: 30px;">작성자</th>
                <th style="width: 50px;">작성일</th>
              </tr>
            </thead>
            <tbody>
              {{#adopts}}
              <tr id="test">
                <td>{{id}}</td>
                <td>
                  <a href="/blog/post/{{id}}" class="m_text_link">{{title}}</a>
                </td>
                <td>{{username}}</td>
                <td>{{createDate}}</td>
              </tr>
              {{/adopts}}
            </tbody>
          </table>
        </div>
      </div>
      <h4 class="m_mt_5 mb-3"><b>지역별게시판 조회수 </b><b style="color: #198754; font-size: 25px">Top 3</b></h4>
      <div class="d-flex container shadow mb-4">
        <div style="width: 100%;">
          <table class="table m_text_align_center">
            <thead>
              <tr>
                <th style="width: 30px;">No</th>
                <th style="width: 150px;">제목</th>
                <th style="width: 30px;">작성자</th>
                <th style="width: 50px;">작성일</th>
              </tr>
            </thead>
            <tbody>
              {{#regions}}
              <tr id="test">
                <td>{{id}}</td>
                <td>
                  <a href="/blog/post/{{id}}" class="m_text_link">{{title}}</a>
                </td>
                <td>{{username}}</td>
                <td>{{createDate}}</td>
              </tr>
              {{/regions}}
            </tbody>
          </table>
        </div>
      </div>
      <h4 class="m_mt_5 mb-3"><b>자유게시판 조회수 </b><b style="color: #198754; font-size: 25px">Top 3</b></h4>
      <div class="d-flex container shadow mb-4">
        <div style="width: 100%;">
          <table class="table m_text_align_center">
            <thead>
              <tr>
                <th style="width: 30px;">No</th>
                <th style="width: 150px;">제목</th>
                <th style="width: 30px;">작성자</th>
                <th style="width: 50px;">작성일</th>
              </tr>
            </thead>
            <tbody>
              {{#frees}}
              <tr id="test">
                <td>{{id}}</td>
                <td>
                  <a href="/blog/post/{{id}}" class="m_text_link">{{title}}</a>
                </td>
                <td>{{username}}</td>
                <td>{{createDate}}</td>
              </tr>
              {{/frees}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 게시판 끝 -->

<script src="/js/blogPost.js"></script>
{{>/layout/footer}}