{{>/layout/header}}
<div class="m_padding_medium">
  <!-- 게시판 선택 버튼 시작 -->
  <div class="d-flex">
    <div>
      <select class="m_blog_writeForm_select" id="board-select" onchange="boardSelect(this.value)">
        <option selected disabled>게시판선택</option>
        <option id="opt-adopt" value="adopt">입양후기</option>
        <option id="opt-local" value="region">지역별게시판</option>
        <option id="opt-free" value="free">자유게시판</option>
      </select>
    </div>
    <div id="category-region" class="m_div_display_none">
      <select class="m_blog_writeForm_select">
        <option value="">지역</option>
        <option id="otp-seoul" value="서울">서울</option>
        <option id="otp-busan" value="부산">부산</option>
        <option id="otp-deagu" value="대구">대구</option>
      </select>
    </div>
    <div id="category-adopt" class="m_div_display_none">
      <select class="m_blog_writeForm_select">
        <option value="">품종</option>
        <option id="opt-dog" value="강아지">강아지</option>
        <option id="opt-cat" value="고양이">고양이</option>
        <option id="opt-ect" value="기타">기타</option>
      </select>
    </div>
  </div>
  <!-- 게시판 선택 버튼 끝 -->

  <!-- 제목 시작 -->
  <div>
    <input id="title" class="m_blog_writeForm_title" type="text">
  </div>
  <!-- 제목 끝 -->

  <!-- 내용 시작 -->

  <div id="editor" class="mt-3"></div>

  <!-- 글쓰기 버튼 -->
  <div class="form-group mt-3 m_div_flex_end">
    <input id="btn-write" type="submit" class="btn bg-success text-light" value="글쓰기">
  </div>
  <!-- 글쓰기 버튼 -->

  <!-- 내용 끝 -->
</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script>
  const Editor = toastui.Editor;
  const editor = new Editor({
    el: document.querySelector('#editor'),
    height: '500px',
    initialEditType: 'wysiwyg',
    previewStyle: 'vertical'
  });
  editor.getMarkdown();

  let selectedBoard;
  let selectedRegion;
  let selectedType;

  // 게시판 선택
  function boardSelect(value) {

    if (value == "adopt") {
      console.log("adopt 탐"); // 입양후기 게시판일 때 
      $("#category-region").removeClass("m_div_display_none"); // 지역별이랑
      $("#category-adopt").removeClass("m_div_display_none"); // 입양후기 클래스 삭제해서 둘 다 보이게 하기
    } else if (value == "region") {
      console.log("region 탐"); // 지역별 게시판일 때
      $("#category-region").removeClass("m_div_display_none"); // 지역별 선택 보이게 하고
      $("#category-adopt").addClass("m_div_display_none"); // 입양후기 카테고리 지우기
    } else { // 자유게시판일 때
      $("#category-region").addClass("m_div_display_none"); // 지역과 
      $("#category-adopt").addClass("m_div_display_none"); // 입양후기 카테고리 지우기
    }

  }
</script>

<script>

  // fetch로 보낼 게시판의 데이터를 담은 JSON 오브젝트 만들기

  // 입양 게시판 오브젝트
  // 서울 시작
  let adouptOfDogAndSeoul = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-seoul").val(),
    kindOfAnimals: $("#opt-dog").val()
  }

  let adouptOfCatAndSeoul = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-seoul").val(),
    kindOfAnimals: $("#opt-cat").val()
  }

  let adouptOfEctAndSeoul = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-seoul").val(),
    kindOfAnimals: $("#opt-ect").val()
  }

  // 부산 시작

  let aduoptOfEctAndBusan = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-busan").val(),
    kindOfAnimals: $("#opt-ect").val()
  }

  let aduoptOfDogAndBusan = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-busan").val(),
    kindOfAnimals: $("#opt-dog").val()
  }

  let aduoptOfCatAndBusan = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-busan").val(),
    kindOfAnimals: $("#opt-cat").val()
  }

  // 대구 시작
  let aduoptOfEctAndDeagu = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-deagu").val(),
    kindOfAnimals: $("#opt-ect").val()
  }

  let aduoptOfDogAndDeagu = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-deagu").val(),
    kindOfAnimals: $("#opt-dog").val()
  }

  let aduoptOfCatAndDeagu = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-deagu").val(),
    kindOfAnimals: $("#opt-cat").val()
  }

  // 지역별 게시판 오브젝트
  let regionOfSeoul = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-seoul").val()
  }

  let regionOfBusan = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-busan").val()
  }

  let regionOfDeagu = {
    kind: $("#opt-adopt").val(),
    local: $("#otp-deagu").val()
  }

  // 자유게시판 오브젝트
  let free = {
    kind: $("#opt-free").val()
  }
  


  // 입양게시판 로직
  async function chooseSeoulOfadopt() {

    if (value == "adopt" && value == "서울" && value == "강아지") { // 조건에 맞춰서
      let chooseKindOfWirte = await fetch("주소", { // JSON 오브젝트로 보내고 DB에 저장하기
        method: "POST",
        body: JSON.stringify(adouptOfDogAndSeoul),
        headers: "",
      });
    } else if (value == "adopt" && value == "서울" && value == "고양이") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(adouptOfCatAndSeoul),
        headers: "",
      });
    } else if (value == "adopt" && value == "서울" && value == "기타") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(adouptOfEctAndSeoul),
        headers: "",
      });
    }
  }

  async function chooseBusanOfadopt() {

    if (value == "adopt" && value == "부산" && value == "강아지") { // 조건에 맞춰서
      let chooseKindOfWirte = await fetch("주소", { // JSON 오브젝트로 보내고 DB에 저장하기
        method: "POST",
        body: JSON.stringify(aduoptOfDogAndBusan),
        headers: "",
      });
    } else if (value == "adopt" && value == "부산" && value == "고양이") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(aduoptOfCatAndBusan),
        headers: "",
      });
    } else if (value == "adopt" && value == "부산" && value == "기타") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(aduoptOfEctAndBusan),
        headers: "",
      });
    }

  }

  async function chooseDeaguOfadopt() {

    if (value == "adopt" && value == "대구" && value == "강아지") { // 조건에 맞춰서
      let chooseKindOfWirte = await fetch("주소", { // JSON 오브젝트로 보내고 DB에 저장하기
        method: "POST",
        body: JSON.stringify(aduoptOfDogAndDeagu),
        headers: "",
      });
    } else if (value == "adopt" && value == "대구" && value == "고양이") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(aduoptOfCatAndDeagu),
        headers: "",
      });
    } else if (value == "adopt" && value == "대구" && value == "기타") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(aduoptOfEctAndDeagu),
        headers: "",
      });
    }

  }

  // 지역별 게시판 로직
  async function chooseRegion() {

    if (value == "region" && value == "서울") { // 조건에 맞춰서
      let chooseKindOfWirte = await fetch("주소", { // JSON 오브젝트로 보내고 DB에 저장하기
        method: "POST",
        body: JSON.stringify(regionOfSeoul),
        headers: "",
      });
    } else if (value == "region" && value == "부산") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(regionOfBusan),
        headers: "",
      });
    } else if (value == "region" && value == "대구") {
      let chooseKindOfWirte = await fetch("주소", {
        method: "POST",
        body: JSON.stringify(regionOfDeagu),
        headers: "",
      });
    }

  }

  // 자유 게시판 로직
  async function chooseFree() {

    if (value == "free" && value == "서울") { // 조건에 맞춰서
      let chooseKindOfWirte = await fetch("주소", { // JSON 오브젝트로 보내고 DB에 저장하기
        method: "POST",
        body: JSON.stringify(free),
        headers: "",
      });
    }

    // console.log("제목 : " + title);
    // console.log("내용 : " + content);
    // console.log("어떤 게시판 : " + selectedBoard);
    // console.log("어떤 지역 : " + selectedRegion);
    // console.log("어떤 종류 : " + selectedType);

    let response = await fetch("/blog/write", {
      method: "POST",
      body: JSON.stringify(writeDto),
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      }
    });
    let responseParse = await response.json();

    if (responseParse.code == 1) {
      alert("글쓰기 완료");
      location.href = "/blog";
    } else {
      alert("글쓰기 실패");
    }
  }
</script>
{{>/layout/footer}}