{{>/layout/header}}
<div class="m_padding_medium">
  <!-- 게시판 선택 버튼 시작 -->
  <div class="d-flex">
    <div>
      <select class="m_blog_writeForm_select" id="board-select" onchange="boardSelect(this.value)">
        <option selected disabled>게시판선택</option>
        <option value="adopt">입양후기</option>
        <option value="region">지역별게시판</option>
        <option value="free">자유게시판</option>
      </select>
    </div>
    <div id="category-region" class="m_div_display_none">
      <select class="m_blog_writeForm_select" onchange="regionSelect(this.value)">
        <option selected disabled>지역</option>
        <option value="서울">서울</option>
        <option value="경기">경기</option>
        <option value="인천">인천</option>
        <option value="강원">강원</option>
        <option value="세종">세종</option>
        <option value="충북">충북</option>
        <option value="충남">충남</option>
        <option value="대전">대전</option>
        <option value="전북">전북</option>
        <option value="전남">전남</option>
        <option value="광주">광주</option>
        <option value="경북">경북</option>
        <option value="대구">대구</option>
        <option value="경남">경남</option>
        <option value="울산">울산</option>
        <option value="부산">부산</option>
        <option value="제주">제주</option>
      </select>
    </div>
    <div id="category-type" class="m_div_display_none">
      <select class="m_blog_writeForm_select" onchange="typeSelect(this.value)">
        <option selected disabled>품종</option>
        <option value="강아지">강아지</option>
        <option value="고양이">고양이</option>
        <option value="기타">기타</option>
      </select>
    </div>
    <div id="category-category" class="m_div_display_none">
      <select class="m_blog_writeForm_select" onchange="categorySelect(this.value)">
        <option selected disabled>분류</option>
        <option value="질문">질문</option>
        <option value="정보">정보</option>
        <option value="맛집">맛집</option>
      </select>
    </div>
  </div>
  <!-- 게시판 선택 버튼 끝 -->

  <!-- 제목 시작 -->
  <div>
    <input id="title" class="m_blog_writeForm_title" type="text" required>
  </div>
  <!-- 제목 끝 -->

  <!-- 내용 시작 -->
  <div id="editor" class="mt-3" required></div>
  <!-- 내용 끝 -->

  <!-- 글쓰기 버튼 -->
  <div class="form-group mt-3 m_div_flex_end">
    <input id="btn-write" type="submit" class="btn bg-success text-light" value="글쓰기">
  </div>
  <!-- 글쓰기 버튼 -->

</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script>
  const Editor = toastui.Editor;
  const editor = new Editor({
    el: document.querySelector('#editor'),
    height: '500px',
    initialEditType: 'wysiwyg',
    previewStyle: 'vertical'
  });
  editor.getMarkdown();
  let selectedBoard;
  let selectedRegion;
  let selectedType; // 품종
  let selectedCategory;
  // 게시판 선택
  function boardSelect(value) {
    if (value == "adopt") {
      $("#category-region").removeClass("m_div_display_none");
      $("#category-type").removeClass("m_div_display_none");
      $("#category-category").addClass("m_div_display_none");
      selectedBoard = value;
      selectedCategory = null;
    } else if (value == "region") {
      $("#category-region").removeClass("m_div_display_none");
      $("#category-type").addClass("m_div_display_none");
      $("#category-category").removeClass("m_div_display_none");
      selectedBoard = value;
      selectedType = null;
    } else {
      $("#category-region").addClass("m_div_display_none");
      $("#category-type").addClass("m_div_display_none");
      $("#category-category").addClass("m_div_display_none");
      selectedBoard = value;
      selectedType = null;
      selectedRegion = null;
      selectedCategory = null;
    }
  }
  // 지역 선택
  function regionSelect(value) {
    selectedRegion = value;
  }
  // 동물 종류 선택
  function typeSelect(value) {
    selectedType = value;
  }
  // 지역별 게시판 종류 선택
  function categorySelect(value) {
    selectedCategory = value;
  }
  // 글쓰기 버튼 클릭
  $("#btn-write").click(() => {
    let value = $("#board-select").val();
    let title = $("#title").val().trim();
    let content = editor.getHTML().trim();
    if (value == "adopt" && (selectedRegion == null || selectedType == null)) alert("지역과 품종을 선택해주세요.");
    else if (value == "region" && (selectedRegion == null || selectedCategory == null)) alert("지역과 분류를 선택해주세요.");
    else if (value == null) alert("게시판이 선택되지 않았습니다.");
    else if (!title) alert("제목을 입력하세요.");
    else if (content === "<p><br></p>") alert("내용을 입력하세요.");
    else write();
  })
  async function write() {
    let writeDto = {
      title: $("#title").val(),
      content: editor.getHTML(),
      board: selectedBoard,
      region: selectedRegion,
      type: selectedType,
      category: selectedCategory
    }
    let response = await fetch("/s/blog/write", {
      method: "POST",
      body: JSON.stringify(writeDto),
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      }
    });
    let responseParse = await response.json();
    if (responseParse.code == 1) {
      alert("글쓰기 완료");
      location.href = "/blog";
    } else if (responseParse.data == "인증되지 않았습니다.") {
      alert("로그인 정보가 없습니다.");
      location.href = "/main/loginForm";
    } else {
      console.log(responseParse);
      alert("글쓰기에 실패했습니다. \n관리자에게 문의해주세요.");
    }
  }
</script>
{{>/layout/footer}}