{{>/layout/header}}
<!-- 컨테이너 시작 -->
<div class="m_padding_medium mt-3">

  <h1>회원가입</h1>
  <hr>

  <!-- 회원가입 폼 시작 -->
  <form class="m_auth_box" novalidate>
    <div class="form-group">
      <label>아이디</label>
      <input id="username" type="text" class="form-control mt-3" placeholder="username" required>
    </div>
    <div class="form-group mt-3">
      <label>비밀번호</label>
      <input id="password" type="password" name="password" class="form-control"  title="password" required>
    </div>
    <div class="form-group mt-3">
      <label>이메일</label>
      <input id="email" type="email" class="form-control" placeholder="name@example.com" required>
    </div>
    <div class="form-group mt-3">
      <label>성별</label>
      <select id="sex" class="form-select" required>
        <option selected>성별</option>
        <option value="male">남자</option>
        <option value="female">여자</option>
        <option value="female">선택안함</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label>주소</label>
      <input id="addr" type="text" class="form-control" minlength="10" data-v-message="Please enter minimum 10 characters"
        required>
    </div>
    <!-- <div class="form-group mt-5"> -->
      <button id="btn-join" type="submit" class="btn bg-success text-light" value="회원가입">회원가입</button>
    <!-- </div> -->
  </form>
  <!-- 회원가입 폼 끝 -->
</div>

<script>
  $("#btn-join").click(() => {
      join();
  });

  async function join() {



      let joinDto = {
          username: $("#username").val(),
          password: $("#password").val(),
          email: $("#email").val(),
          sex:$("#sex").val(),
          addr: $("#addr").val()
      }

      let response = fetch("/api/join", {
        method: "POST",
        body: JSON.stringify(joinDto),
        headers: {
          'Content-Type': 'application/json; charset=utf-8'
        }
      });
      
      let responseParse = response.json();
      console.log(responseParse);

      console.log(responseParse.code)
      if (responseParse.code == 1) {
          alert("회원가입완료");
          location.href = "/loginForm";
      } else {
          alert('회원가입실패');
      }
  }
</script>

<!-- 컨테이너 끝 -->

{{>/layout/footer}}