{{>/layout/header}}
<!-- 컨테이너 시작 -->
<div class="m_padding_medium mt-3">

  <h1>로그인</h1>
  <hr>

  <!-- 로그인 폼 시작 -->
    <form class="m_auth_box">
    <div class="form-group">
      <label>아이디</label>
      <input id="username" type="text" class="form-control mt-3" required>
    </div>
        <div class="form-group mt-3">
      <label>비밀번호</label>
      <input id="password" type="password" name="password" class="form-control mt-3" title="password" required>
    </div>
     <div class="form-check mt-3">
      <label class="form-check-label">
        <input id="remember" class="form-check-input" type="checkbox"> Remember me
      </label>
        <div class="form-group mt-3">
      <input id="btn-login" type="button" class="btn bg-success text-light" value="로그인">
    </div>    
  </form>
    <!-- 로그인 폼 끝 -->

</div>

  <script src="/js/user.js"></script>

<!-- 컨테이너 끝 -->
{{>/layout/footer}}