{{>/layout/header}}


<div class="card mb-3">
  <img src="/image/main-cat2.jpg" class="card-img-top">
</div>
<div class="m_padding_medium d-flex flex-column">
  <!--소개카드 시작-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card border-light bg-dark text-white">
          <div class="size main-bc-green">
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">리퍼블릭 애니멀은...</h5>
            <p class="card-text">모든 유기동물의 해방을 기원합니다.</p>
            <p class="card-text">리퍼블릭 애니멀</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border-light bg-dark text-white">
          <div class="size main-bc-blue">
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">유기동물의 현실</h5>
            <p class="card-text">현실의 유기동물은...어쩌구 저쩌구</p>
            <p class="card-text">리퍼블릭 애니멀</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border-light bg-dark text-white">
          <div class="size main-bc-pink">
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">리퍼블릭 애니멀 전용 블로그</h5>
            <p class="card-text">블로그를 적을 수 있습니다.</p>
            <p class="card-text">리퍼블릭 애니멀</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--소개카드 끝-->

  <!--현황 메뉴카드 시작-->
  <div class="card mt-3">
    <div class="card-body">
      <h3 class="card-title">유기동물 현황</h3>
      <p class="card-text">실시간 유기동물 현황을 확인해보세요.</p>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
    </div>
  </div>
  <!--현황 메뉴카드 끝-->

  <!--블로그 메뉴카드 시작-->
  <div class="card mt-3">
    <div class="card-body">
      <h3 class="card-title">입양후기</h3>
      <p class="card-text">실제 입양후기를 확인해보세요.</p>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
      <div class="m_main_img_box">
        <div>
          <img src="#" width="260px" height="300px">
        </div>
        <div class="m_pt_1">
          <b>제목</b>
        </div>
      </div>
    </div>
  </div>
  <!--블로그 메뉴카드 끝-->
</div>

{{>/layout/footer}}