<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front 테스트</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
  <script src="/path/to/cdn/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
  <script type="text/javascript" src="jquery.cascadingdropdown.js"></script>
  <link rel="stylesheet" href="/path/to/cdn/font-awesome/all.min.css" />
  <script src="/path/to/cdn/bootstrap.bundle.min.js"></script>
  <!-- 메인폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Jua&amp;display=swap" rel="stylesheet">
  <!-- TOAST UI -->
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <!-- 네이버지도 -->
  <script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=m6pdsinao3&submodules=geocoder"></script>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="d-flex justify-content-center">
    <div class="border w-75 bg-success">
      <div class="d-flex justify-content-around mt-4 mb-4">
        <!--파비콘 네비게이션 시작-->
        <nav class="navbar navbar-light">
          <div class="d-flex justify-content-center container-fluid">
            <a class="navbar-brand text-light m_main_font" href="/">
              Animal Republic
            </a>
          </div>
        </nav>
        <!--파비콘 네비게이션 끝-->

        <!--네비게이션 시작-->
        <div class="d-flex justify-content-center align-content-center">
          <!--메뉴 시작-->
          <div class="d-flex align-items-center">
            {{#log}}
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active text-light m_main_font_lg" aria-current="page" href="/logout">로그아웃</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link text-light m_main_font_lg" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light m_main_font_lg" data-bs-toggle="dropdown" href="#"
                  role="button" aria-expanded="false">유기동물 현황</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/animal/animalList">유기동물 조회</a></li>
                  <li><a class="dropdown-item" href="/animal/shelterList">보호소 조회</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light m_main_font_lg" data-bs-toggle="dropdown" href="#"
                  role="button" aria-expanded="false">함께하는 이들</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/withus/doctor">수의사</a></li>
                  <li><a class="dropdown-item" href="/withus/kara">카라</a></li>
                </ul>
              </li>
            </ul>
            {{/log}}
            {{^log}}
                        <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active text-light m_main_font_lg" aria-current="page" href="/main/loginForm">로그인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light m_main_font_lg" href="/main/joinForm">회원가입</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link text-light m_main_font_lg" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light m_main_font_lg" data-bs-toggle="dropdown" href="#"
                  role="button" aria-expanded="false">유기동물 현황</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/animal/animalList">유기동물 조회</a></li>
                  <li><a class="dropdown-item" href="/animal/shelterList">보호소 조회</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light m_main_font_lg" data-bs-toggle="dropdown" href="#"
                  role="button" aria-expanded="false">함께하는 이들</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/withus/doctor">수의사</a></li>
                  <li><a class="dropdown-item" href="/withus/kara">카라</a></li>
                </ul>
              </li>
            </ul>
            {{/log}}
          </div>
          <!--메뉴 끝-->
        </div>
        <!--네비게이션 끝-->
      </div>
    </div>
  </div>