<!-- 블로그 상단바 시작 -->
<div class="m_padding_medium">
  <nav class="navbar navbar-expand-sm m_blog_nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div>
          <a id="main" class="m_blog_nav_btn m_main_font" href="/blog">Main</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div>
          <a id="adopt" class="m_blog_nav_btn m_main_font" href="/blog/adopt">입양후기</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div>
          <a id="region" class="m_blog_nav_btn m_main_font" href="/blog/region">지역별게시판</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div>
          <a id="free" class="m_blog_nav_btn m_main_font" href="/blog/free">자유게시판</a>
        </div>
      </li>
    </ul>
  </nav>
</div>

<!-- 블로그 상단바 끝 -->