{{>/layout/header}}
<div class="m_padding_medium">
  <!-- 수의사 소개 시작 -->
  <div class="m_div_flex_between">
    <div class="m_div_flex_column">
      <div class="m_border_bottom">
        <b class="m_content_title_font">OOO 수의사</b>
      </div>
      <div class="mt-5">
        <ul>
          <li>
            <p>서울대 수의학과 졸업</p>
          </li>
          <li>
            <p>AVMA 인증</p>
          </li>
          <li>
            <p>OO 동물병원 원장</p>
          </li>
          <li>
            <p>OOO 유튜브 채널 운영중</p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <img src="/image/doctor1.jpg" width="300px" height="300px">
    </div>
  </div>

  <!-- 수의사 소개 끝 -->

  <!-- 관련 유튜브 영상 시작 -->
  <div class="m_div_flex_center mt-5">
    <iframe width="1000px" height="550px" src="https://www.youtube.com/embed/IHPGfc3TG54" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <!-- 관련 유튜브 영상 시작 -->
</div>
{{>/layout/footer}}