{{>/layout/header}}
<div class="m_padding_medium m_content_wrap">
  <!-- 수의사 소개 시작 -->
  <div class="m_div_flex_between">
    <div class="m_div_flex_column">
      <div class="m_border_bottom">
        <b class="m_content_title_font">KARA</b>
      </div>
      <div class="mt-5">
        <ul>
          <li>
            <p>카라(Korea Animal Rights Advocates, KARA): 대한민국의 동물 보호 단체</p>
          </li>
          <li>
            <p>2002년 4월 15일, 아름품을 설립</p>
          </li>
          <li>
            <p>2006년 KARA란 새 이름으로 비영리 시민단체로 등록</p>
          </li>
          <li>
            <p>2010년 3월 농림부에 사단법인으로 등록</p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <a href="https://www.ekara.org/">
        <img src="/image/kara.png" width="500px" height="300px">
      </a>
    </div>
  </div>

  <!-- 수의사 소개 끝 -->
</div>
{{>/layout/footer}}