<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>다운로드 테스트</h1>
    <hr />
    {{#shelterlist}}
    
    동물보호센터명 : {{careNm}}
    <br/>
    관리기관명 : {{orgNm}}
    <br/>
    동물보호센터유형 : {{divisionNm}}
    <br/>
    소재지 도로명 주소 : {{careAddr}}
    <br/>
    소재지 지번 주소 : {{jibunAddr}}
    <br/>
    구조대상동물 : {{#saveTrgtAnimal}}{{saveTrgtAnimal}}{{/saveTrgtAnimal}}{{^saveTrgtAnimal}}정보없음{{/saveTrgtAnimal}}
    <br/>
    평일운영시작시각 :{{#weekOprStime}}{{weekOprStime}}{{/weekOprStime}}{{^weekOprStime}}정보없음{{/weekOprStime}}
    <br/>
    평일운영종료시각 : {{#weekOprEtime}}{{weekOprEtime}}{{/weekOprEtime}}{{^weekOprEtime}}정보없음{{/weekOprEtime}}
    <br/>
    평일분양시작시각 : {{#weekCellStime}}{{weekCellStime}}{{/weekCellStime}}{{^weekCellStime}}정보없음{{/weekCellStime}}
    <br/>
    평일분양종료시각 : {{#weekCellEtime}}{{weekCellEtime}}{{/weekCellEtime}}{{^weekCellEtime}}정보없음{{/weekCellEtime}}
    <br/>
    주말운영시작시각 : {{#weekendCellStime}}{{weekendCellStime}}{{/weekendCellStime}}{{^weekendCellStime}}정보없음{{/weekendCellStime}}
    <br/>
    주말운영종료시각 : {{#weekendCellEtime}}{{weekendCellEtime}}{{/weekendCellEtime}}{{^weekendCellEtime}}정보없음{{/weekendCellEtime}}
    <br/>
    주말분양시작시각 : {{#weekendOprStime}}{{weekendOprStime}}{{/weekendOprStime}}{{^weekendOprStime}}정보없음{{/weekendOprStime}}
    <br/>
    주말분양종료시각 : {{#weekendOprEtime}}{{weekendOprEtime}}{{/weekendOprEtime}}{{^weekendOprEtime}}정보없음{{/weekendOprEtime}}
    <br/>
    휴무일 : {{#closeDay}}{{closeDay}}{{/closeDay}}{{^closeDay}}정보없음{{/closeDay}}
    <br/>
    전화번호 :{{careTel}}정보없음
    <hr />
    {{/shelterlist}}
</body>
</html>