<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>다운로드 테스트</h1>
    <hr />
    {{#shelterlist}}
    
    동물보호센터명 : {{careNm}}
    <br/>
    관리기관명 : {{#orgNm}}{{orgNm}}{{/orgNm}}{{^orgNm}}:{{/orgNm}}
    <br/>
    동물보호센터유형 : {{#divisionNm}}{{divisionNm}}{{/divisionNm}}{{^divisionNm}}:{{/divisionNm}}
    <br/>
    소재지 도로명 주소 : {{#careAddr}}{{careAddr}}{{/careAddr}}{{^careAddr}}:{{/careAddr}}
    <br/>
    소재지 지번 주소 : {{#jibunAddr}}{{jibunAddr}}{{/jibunAddr}}{{^jibunAddr}}:{{/jibunAddr}}
    <br/>
    구조대상동물 : {{#saveTrgtAnimal}}{{saveTrgtAnimal}}{{/saveTrgtAnimal}}{{^saveTrgtAnimal}}:{{/saveTrgtAnimal}}
    <br/>
    평일운영시작시각 :{{#weekOprStime}}{{weekOprStime}}{{/weekOprStime}}{{^weekOprStime}}:{{/weekOprStime}}
    <br/>
    평일운영종료시각 : {{#weekOprEtime}}{{weekOprEtime}}{{/weekOprEtime}}{{^weekOprEtime}}:{{/weekOprEtime}}
    <br/>
    평일분양시작시각 : {{#weekCellStime}}{{weekCellStime}}{{/weekCellStime}}{{^weekCellStime}}:{{/weekCellStime}}
    <br/>
    평일분양종료시각 : {{#weekCellEtime}}{{weekCellEtime}}{{/weekCellEtime}}{{^weekCellEtime}}:{{/weekCellEtime}}
    <br/>
    주말운영시작시각 : {{#weekendCellStime}}{{weekendCellStime}}{{/weekendCellStime}}{{^weekendCellStime}}:{{/weekendCellStime}}
    <br/>
    주말운영종료시각 : {{#weekendCellEtime}}{{weekendCellEtime}}{{/weekendCellEtime}}{{^weekendCellEtime}}:{{/weekendCellEtime}}
    <br/>
    주말분양시작시각 : {{#weekendOprStime}}{{weekendOprStime}}{{/weekendOprStime}}{{^weekendOprStime}}:{{/weekendOprStime}}
    <br/>
    주말분양종료시각 : {{#weekendOprEtime}}{{weekendOprEtime}}{{/weekendOprEtime}}{{^weekendOprEtime}}:{{/weekendOprEtime}}
    <br/>
    휴무일 : {{#closeDay}}{{closeDay}}{{/closeDay}}{{^closeDay}}:{{/closeDay}}
    <br/>
    전화번호 :{{#careTel}}{{careTel}}{{/careTel}}{{^careTel}}:{{/careTel}}
    <hr />
    {{/shelterlist}}
</body>
</html>