<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>RestTemplate 다운로드 테스트</h1>

    {{#sidolist}}
    시도 코드 : {{orgCd}}
    시도 이름 : {{orgdownNm}}
    <hr>
    {{/sidolist}}
</body>

</html>