<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>부산 시군구 코드</h1>
    {{#busanlist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/busanlist}}

    <h1>대구 시군구 코드</h1>
    {{#deagulist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/deagulist}}

    <h1>인천 시군구 코드</h1>
    {{#incheonlist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/incheonlist}}

    <h1>광주 시군구 코드</h1>
    {{#gwangjulist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/gwangjulist}}

    <h1>세종 시군구 코드</h1>
    {{#seajonglist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/seajonglist}}

    <h1>전라 시군구 코드</h1>
    {{#jeonlalist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/jeonlalist}}

    <h1>전북 시군구 코드</h1>
    {{#jeonbooklist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/jeonbooklist}}

    <h1>제주 시군구 코드</h1>
    {{#jejulist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/jejulist}}

    <h1>강원도 시군구 코드</h1>
    {{#gangweonlist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/gangweonlist}}

    <h1>경기도 시군구 코드</h1>
    {{#gyeongilist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/gyeongilist}}

    <h1>경상남도 시군구 코드</h1>
    {{#gyeongsanglist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/gyeongsanglist}}

    <h1>울산 시군구 코드</h1>
    {{#ulsanlist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/ulsanlist}}

    <h1>충청남도 시군구 코드</h1>
    {{#choongnamlist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/choongnamlist}}

    <h1>충청북도 시군구 코드</h1>
    {{#choongbooklist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/choongbooklist}}
</body>
</html>