<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#testlist}}
    시도 상위 코드 : {{orgdownNm}} <br>
    시군구 코드 : {{uprCd}} <br>
    시군구 이름 : {{orgCd}} <br>
    <hr>
    {{/testlist}}
</body>
</html>