{{>/layout/header}}
<!-- 게시글 보기 시작 -->
<div class="m_padding_medium">
  <div class="m_blog_post">
    <div class="m_blog_post_title">
      <div>
        <b class="m_content_title_font">안녕</b>
      </div>
      <div style="flex-direction: column;">
        <h5>작성자 : 누렁이아빠</h5>
        <h5>작성일 : 2022.04.11</h5>
      </div>
    </div>
    <div class="m_blog_post_content">
      <p>안녕하세요</p>
      <p>자유게시판입니다.</p>
    </div>
  </div>
</div>
<!-- 게시글 보기 끝 -->
{{>/layout/footer}}