{{>/layout/header}}
<!-- 게시글 보기 시작 -->
<div class="m_padding_medium">
  <div class="m_blog_post">
    <div class="m_blog_post_title">
      <div>
        <b class="m_content_title_font">{{posts.title}}</b>
      </div>
      <div style="flex-direction: column;">
        <h5>작성자 : {{posts.user.username}}</h5>
        <h5>작성일 : {{posts.createDate}}</h5>
      </div>
    </div>
    <div class="m_blog_post_content">
      {{{posts.content}}}
    </div>
    <!-- 따봉, 수정, 삭제 버튼 시작-->
    <div class="d-flex justify-content-between align-items-end">
      <div style="width: 100px;"></div>
      <div id="thumb-up" class="none">
        <div class="m_thumbUp_btn">
          <img id="thumb-up-img" src="/image/thumb-up-before.png" width="50px" height="50px">
        </div>
      </div>
      {{#principals}}
      <div class="d-flex me-3">
        <div class="me-3 m_button" onclick="location.href='/s/post/updateForm/{{posts.id}}'">수정</div>
        <div class="m_button_delete" id="delete-btn">삭제</div>
      </div>
      {{/principals}}
      {{^principals}}
      <div style="width: 100px;"></div>
      {{/principals}}
    </div>
    <!-- 따봉, 수정, 삭제 버튼 끝-->

  </div>
  <!-- 조회수랑 추천수 받아오기 -->
  <div class="m_div_display_none">
    <div>{{posts.view}}</div>
    <div id="postId">{{posts.id}}</div>
    <div id="recommended">{{posts.recommended}}</div>
    <div id="principal"></div>
    <div id="board">{{posts.board}}</div>
  </div>
</div>
<!-- 게시글 보기 끝 -->

<script>
  let recommend;
  let postId;
  $("#thumb-up").click(() => {
    recommend = parseInt($("#recommended").text());
    let id = parseInt($("#principal").text());
    let user
    // 이미 추천 눌렀을 때
    if ($("#thumb-up").hasClass("up")) {
      $("#thumb-up").removeClass("up");
      $("#thumb-up").addClass("down"); // 추천 취소
      recommend -= 1;
    }
    // 추천 취소했을 때
    else if ($("#thumb-up").hasClass("down")) {
      $("#thumb-up").removeClass("down");
      $("#thumb-up").addClass("up"); // 다시 추천
      recommend += 1;
    }
    // 아무것도 안했을 때
    else if ($("#thumb-up").hasClass("down") === false && $("#thumb-up").hasClass("up") === false) {
      $("#thumb-up").addClass("up"); // 추천
      recommend += 1;
    }
    // console.log(recommend);
    updateRecommend(recommend);
  });
  // 추천수 증감 함수
  async function updateRecommend(recommend) {
    let recommendDto = {
      id: parseInt($("#postId").text()),
      recommended: recommend
    }
    console.log(recommendDto);
    let response = await fetch(`/s/post/${recommendDto.id}`, {
      method: "POST",
      body: JSON.stringify(recommendDto),
      headers: {
        'Content-Type': 'application/json; charset=utf-8'
      }
    });
    let responseParse = await response.json();
    if (responseParse.code == 1) {
      if ($("#thumb-up").hasClass("up")) {
        $("#thumb-up-img").attr("src", "/image/thumb-up-after.png");
      }
      else if ($("#thumb-up").hasClass("down")) {
        $("#thumb-up-img").attr("src", "/image/thumb-up-before.png");
      }
      else if ($("#thumb-up").hasClass("down") === false && $("#thumb-up").hasClass("up") === false) {
        $("#thumb-up-img").attr("src", "/image/thumb-up-after.png");
      }
    }
    if (responseParse.data == "인증되지 않았습니다.") {
      alert("추천 기능은 로그인이 필요합니다.");
    }
  }

  // 삭제 버튼 클릭
  $("#delete-btn").click(() => {
    deleteById();
  });

  async function deleteById() {
    let board = $("#board").text();
    let id = parseInt($("#postId").text());
    let response = await fetch("/s/post/delete/" + id, {
      method: "DELETE"
    });
    let responseParse = await response.json();
    if (responseParse.code == 1) {
      alert("삭제 완료");
      location.href = `/blog/${board}`;
    } else alert("삭제 실패\n관리자에게 문의하십시오.");
  }

</script>

{{>/layout/footer}}