.border {
    border-radius: 100px;
}

.size {
    height: 150px;
}

.m_mr_5 {
    margin-right: 50px;
}

.m_mt_5 {
    margin-top: 50px;
}

.m_pr_5 {
    float: right;
    padding-right: 10%;
}

.m_padding_small {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.m_padding_medium {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}